<div class="">
  <div class="x_content">
    <div class="x_panel">
      <div class="x_title">
        <h2><span class="glyphicon glyphicon-plus"></span> Thêm</h2>
        <ul class="breadcrumb pull-right" style="margin-bottom: 0">
          <li class="breadcrumb-item">
            <a href="/admin/<%=nameModule%>/index">Danh Mục</a>
          </li>
          <li class="breadcrumb-item active">Thêm</li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form
          id="Form"
          data-parsley-validate
          class="form-horizontal form-label-left"
        >
          <%-List_Form%>
          <div class="ln_solid"></div>
          <div class="item form-group">
            <div class="col-md-6 col-sm-6 offset-md-3">
              <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Lưu
              </button>
              <a
                href="/admin/categories/index"
                class="btn btn-primary"
                type="button"
                >Thoát</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
