<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>
        Danh Mục
        <small>
          <a
            href="/admin/<%=nameModule%>/add"
            class="btn btn-round btn-primary btn-sm"
          >
            <span class="glyphicon glyphicon-plus"></span> Thêm</a
          ></small
        >
      </h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="x_content">
    <div class="table-responsive">
      <%-table%>

      <div
        class="dataTables_paginate paging_simple_numbers"
        id="datatable-buttons_paginate"
      >
        <ul class="pagination">
          <li
            class="paginate_button previous disabled"
            id="datatable-buttons_previous"
          >
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="0"
              tabindex="0"
              >Previous</a
            >
          </li>
          <li class="paginate_button active">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="1"
              tabindex="0"
              >1</a
            >
          </li>
          <li class="paginate_button">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="2"
              tabindex="0"
              >2</a
            >
          </li>
          <li class="paginate_button">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="3"
              tabindex="0"
              >3</a
            >
          </li>
          <li class="paginate_button">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="4"
              tabindex="0"
              >4</a
            >
          </li>
          <li class="paginate_button">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="5"
              tabindex="0"
              >5</a
            >
          </li>
          <li class="paginate_button">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="6"
              tabindex="0"
              >6</a
            >
          </li>
          <li class="paginate_button next" id="datatable-buttons_next">
            <a
              href="#"
              aria-controls="datatable-buttons"
              data-dt-idx="7"
              tabindex="0"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
